<app-navbar></app-navbar>

<section id="home">
  <app-home></app-home>
</section>

<!-- <section id="about">
  <app-about></app-about>
</section> -->

<section id="projects">
  <app-projects></app-projects>
</section>

<section id="skills">
  <app-skills></app-skills>
</section>

<section id="experiences">
  <app-experience></app-experience>
</section>

<section id="contact">
  <app-contact></app-contact>
</section>

<footer class="text-white py-3 text-center">
  <small>&copy; 2024 Wyne. Built with Angular.</small>
</footer>