<section id="skills" class="skills-section">
  <div class="container">
    <h2 class="section-title">Technical <span>Skills</span></h2>
    
    <div class="skills-grid">
      <div *ngFor="let skill of mySkills" class="skill-card">
        <div class="card-content">
          <div class="icon-box">
             <img [src]="skill.icon" [alt]="skill.name" class="skill-icon">
          </div>
          <h3 class="skill-name">{{ skill.name }}</h3>
        </div>
      </div>
    </div>
  </div>
</section>